<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Cameron Knauff</vendor>
  <vendor_url>https://github.com/pizzalovingnerd</vendor_url>

  <action id="io.netbird.gnome.write-config">
    <description>Write NetBird configuration</description>
    <message>You are changing a setting that requires authentication</message>
    <icon_name>network-vpn-symbolic</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/var/lib/netbird-gnome/netbird-gnome-config-write</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="io.netbird.gnome.read-config">
    <description>Read NetBird configuration</description>
    <message>Permission is required to read NetBird settings</message>
    <icon_name>network-vpn-symbolic</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/var/lib/netbird-gnome/netbird-gnome-config-read</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
